body {
  padding-top: 10px;
}

.tab-content {
  padding-top: 10px;
}

.route {
  float: left;
  min-height: 175px;
  width: 25%;
}

.route h4 {
  text-align: center;
}

#camera {
  font-size: 10px;
}

#camera li.active {
  background: #EFEFEF;
}